[submodule "clang-format"]
	path = clang-format
	url = https://github.com/ssciwr/clang-format-wheel.git
[submodule "clang-tidy"]
	path = clang-tidy
	url = https://github.com/ssciwr/clang-tidy-wheel.git
